# Data Structures and Processing

## Week 1: Introduction to Python

## Name / Variable: First Encounter

In many of the programming languages, it is unnecceary to declare the type of an object before declaring it. In addition to that if a name is already in use for an object of certain type, it could be used for an object of another type.  This phenomemon is rephrased as "dynamically typed language".

Let us consider an example.  We reserve the name `x` for the variable and assign it first and integer and then assign it a string.

We are using the `print`function to print the output of a certain evaluation.  Otherwise, the last evaluated result is printed.

In [1]:
x = 2                        # x is of type int
tx = type(x)
print("The value of x: ", x)
print("The type of x: ", tx)

x = "Data Structures and Processing"
tx = type(x)
print("The value of x: ", x)
print("The type of x: ", tx)

The value of x:  2
The type of x:  <class 'int'>
The value of x:  Data Structures and Processing
The type of x:  <class 'str'>

### Task

Choose a variable name.  Assign it an object of your choice: `int`, `str`, `list`,....  Print your choosen value and its type.  Now assign the same variable a different object and do the same (printing value and its type).

In [2]:
name = "Diego"
tn = type(name)
print("The value of name: ", name)
print("The type of name: ", tn)

name = 2
tn = type(name)
print("The value of name: ", name)
print("The type of name: ", tn)

The value of name:  Diego
The type of name:  <class 'str'>
The value of name:  2
The type of name:  <class 'int'>

## Attributes

Recall that objects have attributes. Some of them are callable, and other return some information about the associated object directly.  A helpful function to list all the attributes of an object of a certain class is `dir`.  We use use `dir(x)`, where `x`is the name of the variable whose attributes we want to list, or if we know the class name, we simply type `dir(class_name)`.

Let us take an example.

We assign a float to variable `x` and list its attributes.

In [3]:
x = 3.1415
dir(x)

['__abs__',
 '__add__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getformat__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__set_format__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 'as_integer_ratio',
 'conjugate',
 'fromhex',
 'hex',
 'imag',
 'is_integer',
 'real']

Let us say at this point, we have done some work and we are not sure if our variable has integer stored in it or a float.  We see in the above list that there is an attribute `is_integer`.  That sounds promising for our purpose.  So we use it as follows.

In [4]:
x.is_integer

The output of above call is not what we wanted.  A Python user of some experience would know what to do at this point.  But we assume that we do not know.  The next step would be to get some help.  Help is called as follows.

In [5]:
help(x.is_integer)

Help on built-in function is_integer:

is_integer() method of builtins.float instance
    Return True if the float is an integer.

The help suggest that we use it with parenthesis at the end. It is a callable method.  Now let us try one more time.

In [6]:
x.is_integer()  # It should return False.

False

### Task

Choose an object of certain type, and expolore attributes associated to its class.  Get help on the use with `help`function.

In [7]:
Last_name = "aguilar"
dir(Last_name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [8]:
Last_name.capitalize()

'Aguilar'

In [9]:
help(Last_name.capitalize)

Help on built-in function capitalize:

capitalize() method of builtins.str instance
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

In [10]:
Last_name.count(Last_name)

1

In [11]:
help(Last_name.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [12]:
Last_name.lower()

'aguilar'

In [13]:
help(Last_name.lower)

Help on built-in function lower:

lower() method of builtins.str instance
    Return a copy of the string converted to lowercase.

## Boolean and Other Special Types

Recall that we have covered Boolean and the object `None`.  There are many other special types, and we shall explore them as we move forward. For now, let us recall our knowledge about boolean and its means of combinations.

Let us fix `x=True` and `y=False`, and determine the meaning of different combinations.

In [14]:
x = True
y = False

xandy = x and y
xory = x or y

print("Value of x and y is: ", xandy)
print("Value of x or y is: ", xory)

Value of x and y is:  False
Value of x or y is:  True

### Task

Recall the De Morgan's law that $(A+B)^\prime=A^\prime \cdot B^\prime$.  Here $A^\prime$ is a mathematical notation for the complement of the statement $A$.

Assign values to $A$ and $B$ and print the result of the left hand side and the right hand side of the De Morgan's law on separate lines.

It is advised that you first try to guess the outcomes before actually evaluating the block to test your understanding of the boolean and their means of combinations.

In [15]:
A = True
B = False

lhs = not (A or B)
print("Left hand side:", lhs)

rhs = (not A) and (not B)
print("Right hand side:", rhs)

Left hand side: False
Right hand side: False

## Numbers: Integers, Floats, Complex Numbers

Recall your knowledge about numbers in Python.

### Task

1. Choose `x` to be a float and make sure that it has the decimal part.  To make sure that a float is a "pure" float or that it has a decimal part, `is_integer` is helpful.  Apply the function `int` on `x` and observe the result.  Explain it to yourself the reason behind the result.

2. Choose `x` to be the string "2.3" now.  Apply `int` now and observe the result.  Warning: An error will be raised this time.  Explain it to yourself the reason for the error.

In [16]:
x = 2.34
x.is_integer()
int(x) #It rounds the number from 2.34 to simply 2.

x = "2.3"
int(x) #It is not a number. It is a string, therefore an error appeared.

<class 'ValueError'>: invalid literal for int() with base 10: '2.3'

### Task

Let us choose two floats `x=1.2` and `y=2.2`.  If we add the two numbers, we obtain a result different than 3.4.  See below.

In [28]:
x=1.2
y=2.2
z = x+y
z

3.4000000000000004

The type `float` has an attribute `hex` that might be helpful in explainging the reason behind not obtaining 3.4. Let us use it as follows

In [29]:
z.hex()

'0x1.b333333333334p+1'

The returned result is a `hex` (in base 16) representation of the sum of `x` and `y`.  It might be cryptic at this point, but let us see how we can manually obtain the number in decimal from it. On the left hand side of the decimal in `0x1.b333333333334p+1`, we have the integer 1, and on the right hand side, we have `b`(stands for 11), and then many 3.  At the end we have the exponent `+1`.  The individual integers on the left side of the decimal are multiplied with nonnegative powers of 16 (starting with the power 0 and increasing towards left), and those on the right hand side of the decimal are multiplied with the negative powers of 16 (starting with -1 and decreasing towards right).  All the multiplied factors are then summed and the resulting sum is multiplied with 16 raised to the power the exponent in `0x1.b333333333334p+1`.

In the following cell, perform the above computation.

### Task

Consider complex number `x=1.2+2.3j`. Find them using`abs`, `real` and `imag`.

1. absolute value of `x`.
2. obtain real part of `x`.
3. obtain real part of `x`.

In [30]:
x = 1.2 + 2.3j
abs(x)
x.real
x.imag

2.3

### Task

We want to assign the complex number with real part 1.2 and imaginary part 2.3 to a variable `x`.  Which of the following does not give error?  Try one your console or the evaluation block below.

1. `x= 1.2 + j2.3`
2. `x= 1.2 + 2.3 j`
3. `x= 1.2 + 2.3j`

In [31]:
x= 1.2 + 2.3j

## Strings

### Task

We want to prepare an email.  Here is a way using strings.

In [32]:
e_greeting="Dear "
e_to= "John"
newline ="""
"""
e_text = "Thanks for approaching. I'll get back to you as soon as possible after solving this task."
e_end = "Best regards,"
e_from = "XYZ"

email_body = e_greeting + e_to + 2*newline + e_text + 2*newline + e_end + 2*newline + e_from

print(email_body)

Dear John

Thanks for approaching. I'll get back to you as soon as possible after solving this task.

Best regards,

XYZ

Your task is to

1. change the name from `"John"` to `"Mike"`
2. remove the substring "Thanks for approaching".
3. change the `XYZ` to some name.
4. print the email using `print` function while making sure that there are two new lines between lines except between the last two lines.

In [33]:
e_greeting = "Dear "
e_to = "Mike"
newline = """
"""
e_text = "I'll get back to you as soon as possible after solving this task."
e_end = "Best regards,"
e_from = "Diego"

email_body = e_greeting + e_to + 2*newline + e_text + 2*newline + e_end + newline + e_from

print(email_body)

Dear Mike

I'll get back to you as soon as possible after solving this task.

Best regards,
Diego

## Lists and Tuples

### Task

Let us consider the sentence "This sentence is false", and assign it as a string to a variable `x`.  After that, we split `x` using a string method and notice that a list is returned.  See below

In [34]:
x = "This sentence is false."
l = x.split(" ")
l.reverse()
l

['false.', 'is', 'sentence', 'This']

Your task is to
1. reverse the list using the callable method `reverse`. See it in `dir(list)`.
2. change the first element of the list to capitalized version and remove . (period) from it.
3. make the last element in the list a lower case word.
4. use `" ".join(l)` to join the list `l` into a single string.
5. print the result.

In [35]:
x = "This sentence is false."
l = x.split(" ")
l.reverse()

l.reverse()
l[0] = l[0].capitalize().rstrip('.')
l[-1] = l[-1].lower()

result = " ".join(l)
print(result)

This sentence is false.

### Task

Recall thatlists are mutable objects, but tuples are not.  This means that the elements within a list can be changed but the elements in a tuples cannot be changed.

Consider now `x = (1,2,[3,4])`.  Is it possible to change 4 to something else?  Why or why not?

In [36]:
x = (1,2,[3,4])
x[2][1] = 5
x
# Yes, it's possible to change the 4 to something else, even though x is a tuple.
# This is because tuples are only partially immutable.
# While you can't change the top-level elements of a tuple (the 1, 2, and the list [3, 4] themselves),
#if one of those elements is a mutable object like a list, you can modify the contents of that mutable object.
#In this case, the third element of the tuple x is a list [3, 4]. Lists are mutable, meaning their elements can be changed. We access this list using x[2]. To change the 4, we target the second element within this list using x[2][1], and then assign it a new value, 5. This modifies the list inside the tuple, effectively changing the 4 to a 5 without violating the immutability of the tuple itself."

(1, 2, [3, 5])

## Dictionaries

### Task

Let us make a small database.  You can use it for personal use.

Let `biblio` be a list of books and articles that you are interested in.  At the beginning the list is empty.  We intend to put in this list dictionaries.  The dictionaries are actual records.  See below for an example.

The key `authors` is a list of authors.  This is practical because some items might have multiple authors.

In [37]:
biblio = []                      # empty bibliography, for now

biblio = [ {"id": "skiena2017data",
            "title": "The data science design manual",
            "authors": ["Steven Skiena"],
            "year": 2017,
            "publisher": "Springer"}
         ]

Your task is to
1. add a new record to `biblio` of your choice.
2. add a new record to `biblio` with multiple authors.
3. remove the record with `id` `skiena2017data`.
4. print the record that you have added in task 2 above in the format "[authors]: [title], [publisher], [year]."

In [38]:
biblio = []  # empty bibliography, for now

biblio = [
    {
        "id": "skiena2017data",
        "title": "The data science design manual",
        "authors": ["Steven Skiena"],
        "year": 2017,
        "publisher": "Springer",
    }
]

# 1.
biblio.append(
    {
        "id": "bestbook212",
        "title": "the Promiss",
        "authors": ["Diego Aguilar", "Walter Sandoval", "Ammy Canales"],
        "year": 2016,
        "publisher": "Aguilar Inc.",
    }
)


# 2.
biblio.append(
    {
        "id": "bestbook313",
        "title": "How to pass Data Structure and Processing with 100%",
        "authors": ["God", "Jesus"],
        "year": 2025,
        "publisher": "Jesus Christ",
    }
)

# 3. Remove the record with id 'skiena2017data'
biblio = [record for record in biblio if record["id"] != "skiena2017data"]


# 4. Print the record added in task 2
record_task2 = biblio[1]  # Assuming it's the second record after removing the first

author_string = ", ".join(record_task2["authors"])
print(
    f"{author_string}: {record_task2['title']}, {record_task2['publisher']}, {record_task2['year']}"
)

God, Jesus: How to pass Data Structure and Processing with 100%, Jesus Christ, 2025

# Final Remark

There are a lot of subtopics that we are not covering.  We shall come back to them as we progress and use them implicitely. For now, it is a good point to finish practice for the first week.  You are encouraged to explore the topics or subtopics in builtin data structures you found interesting to see what you can build with them.