# Data Structures and Processing

## Week 8: Data Wrangling with Pandas

### Remarks:

1. Press the `install requirements` button above to install the required packages.  See the `requirements.txt` for list of packages to be installed.

2. Make sure that you are following the conventions.  For examples, `import pandas as pd`, which imports pandas packages and sets the abbreviation for it.

3. Do not import the packages without the short names.  Doing so might lead to a namespace conflict, or unintended uses of functions coming from two libraries as a part of different implementations.

4. We are assigning `None` to variables and use `pass` in the body of the functions, where we expect a solution from you.  Please replace these values and statements with your solution.

The exercises in this notebook are aligned with the material provided for the lecture.

### Load Libraries

In [1]:
import numpy as np
import pandas as pd

## MultiIndex

### Task 1 - 1 pt

Consider the `json` file named `entertain.json`(attached) and read it into a variable `df1` using the function `pd.read_json`.

In [29]:
# Your solution goes here.
df1 = pd.read_json("entertain.json")
print(df1.shape)

(8, 6)

In [4]:
assert df1.shape == (8, 6)

### Task 2 - 1 pt

We want to change the index of the imported `DataFrame`. More specifically, we would like to have two indexes.  The two indexes come from the columns named `"rating"` and `"stars"`.

Define a new `DataFrame` by the name `df2` where `"rating"`and `"stars"` are indexes.

In [7]:
# Your solution goes here.
df2 = df1.set_index(["rating", "stars"])
print(df2.index[0])

('PG-13', np.float64(7.5))

In [8]:
assert df2.index[0] == ('PG-13', 7.5)

### Task 3 - 1 pt

In the `DataFrame` named `df2`, defined above, we have two indexes: `"rating"` and `"stars"`, and *in this order*.  We want to change

1. their order so that `"stars"` is the first index and `"ratings"` is the second one. You might want to use `swaplevel`.
2. their case, i.e., make names of index columns upcase.

Define a new `DataFrame` by the name `df3`, which is the same as `df2`, except that the indexes are swapped and they are in upcase form.

In [12]:
# Your solution goes here.
df3 = df2.swaplevel().copy()
df3.index.names = ["STARS", "RATING"]
print(df3.index.names)

['STARS', 'RATING']

In [13]:
assert df3.index.names == ['STARS', 'RATING']

### Task 4 - 1 pt

We have now data with two indexes. Let us say that we do not need this indexing, and furthermore, we would like to recover the data to a form where it was as it was imported into a `DataFrame`.  There are three ways to do it:

1. One is to keep the data stored in a separate variable and define a new variable with the new indexes.  This might lead to a memory problem, when huge data is read into a `DataFrame`.

2. Reread the data from the file into the desired variable again.

3. Use the builtin function for reseting indexing in `pandas`.

Use the third method above to reset index of the data stored in `df3` and put it in variable `df4` (we do not desire to modify the existing variable).

In [14]:
# Your Solution Goes here
df4 = df3.reset_index()
print(len(df4.columns))

6

In [15]:
assert len(df4.columns) == 6

### Task 5 - 1 pt

Recall from the beginning of this set of exercises that we have imported data from a `json` file.  The data that is in hierarchical form is usually stored in this format.  There are other ways to store such data too, for example as an `xml` format, to name only another one beside `json`.  You might have noticed as we have imported the data that it was presented in a tabular format, and it was done by assigning some `NaN` value to some of the entries, because the corresponding values were missing.  For example, the `"Quiz Show"` has `"genre"` `NaN`.  Compare it with the json file, where `"Quiz Show"`, does not have any value for `"genre"`.

Recall that in `pandas`, tabular data can be converted into a hierarchical data using the `stack()` method.

Create a new `DataFrame`, called `df5`, from `df3` and use the method `stack()` to present it in hierarchical form.

In [17]:
# Your solution goes here.
df5 = df3.stack()
print(df5.index[0])

(np.float64(7.5), 'PG-13', 'title')

In [18]:
assert df5.index[0] == (7.5, 'PG-13', 'title')

### Task 6 - 1 pt

Consider the hierarchical `DataFrame` `df5`, and filter it down to all the entries with `"rating"` `"PG-13"`.  Store the result in the variable `df6`.

In [19]:
# Your solution goes here.
df6 = df5.xs("PG-13", level=1)
print(len(df6))

11

In [30]:
assert len(df6) == 11

   stars                     title rating  duration  \
0    7.5                 Quiz Show  PG-13       133
1    7.6                    Batman  PG-13       126
2    8.2   The Wolf of Wall Street      R       180
3    8.1                      Jaws     PG       124
4    7.8             Belle de Jour    NaN       101
5    7.8        As Good as It Gets  PG-13       139
6    8.4               Toy Story 3      G       103
7    7.4  Manhattan Murder Mystery     PG       104

                                            actors      genre
0       [Ralph Fiennes, John Turturro, Rob Morrow]        NaN
1   [Michael Keaton, Jack Nicholson, Kim Basinger]     Action
2   [Leonardo DiCaprio, Jonah Hill, Margot Robbie]  Biography
3    [Roy Scheider, Robert Shaw, Richard Dreyfuss]      Drama
4  [Catherine Deneuve, Jean Sorel, Michel Piccoli]      Drama
5       [Jack Nicholson, Helen Hunt, Greg Kinnear]     Comedy
6              [Tom Hanks, Tim Allen, Joan Cusack]  Animation
7         [Woody Allen, Diane Keaton, Jerry Adler]     Comedy

### Task 7 - 1 pt

Let us consider a case, where we are given two `DataFrame`s with `MultiIndex`, we would like to merge them using a column as a reference.  There are several different functions available in `pandas` for such a purpose.

Let us define two variable `df71` and `df72`.  These `DataFrame`s help us demonstrate what is stated above.  In practice, the two `DataFrame`s may come from different sources unlike how we have defined them.

Define a variable `df7`, which contains a merge of `df71` and `df72` on the column `"title"`.  Make sure that the returned table has the `MultiIndex` inherited and it is not stripped away. You can do in by resetting index and setting it back after merge or by using `combine_first` function.

In [35]:
df2_reset = df2.reset_index()

df71 = df2_reset[["rating", "stars", "title", "duration"]]
df72 = df2_reset[["genre", "title"]]

merged = pd.merge(df71, df72, on="title")

df7 = merged.set_index(["rating", "stars"])


print(df7.index.names)
print(df7.shape)

['rating', 'stars']
(8, 3)

In [34]:
assert df7.index.names == ['rating', 'stars']
assert df7.shape == (8, 3)

### Task 8 - 3 pts

Imagine you're a data analyst for the city transportation department. You've been given a taxi trip dataset (taxi.csv) containing information about pickup/dropoff times, passenger counts, and trip distances. Your task is to transform this data to analyze travel distance patterns by hour of day and passenger count.
Follow these steps:

1) Load the taxi data from the CSV file

2) Extract just the hour from the pickup_datetime column (hint: use pd.to_datetime() and .dt.hour)

3) Use pivot_table() to create a table showing the average trip distance based on:
 - Rows: Hour of pickup (0-23)
 - Columns: Number of passengers


4) Comment on what time of the day the largest amount of 3 passenger rides happen.

In [39]:
taxi = pd.read_csv("taxi (1).csv")
print(taxi.head())

taxi["pickup_datetime"] = pd.to_datetime(taxi["pickup_datetime"])
taxi["hour"] = taxi["pickup_datetime"].dt.hour

pivot = taxi.pivot_table(
    index= "hour",
    columns ="passenger_count",
    values = "trip_distance",
    aggfunc="mean"
)

print(pivot)

#Based on the pivot table, the highest number of 3-passenger rides occurs around 18:00 (6 PM).
#This likely corresponds to the evening rush hour, when people are commuting back home or going out,
#which results in more shared rides. Transportation services could consider increasing fleet availability
#during this time to meet demand.

       pickup_datetime     dropoff_datetime  passenger_count  trip_distance
0  2023-01-01 00:26:10  2023-01-01 00:37:11                1           2.58
1  2023-01-01 00:51:03  2023-01-01 00:57:49                1           1.81
2  2023-01-01 00:35:12  2023-01-01 00:41:32                1           0.00
3  2023-01-01 00:13:14  2023-01-01 00:19:03                1           1.30
4  2023-01-01 00:33:04  2023-01-01 00:39:02                1           1.10
passenger_count    0         1         2       3         4       5         6
hour
0                NaN  3.387021  4.215000   3.535  4.145000  3.9775  1.050000
1                0.0  3.561429  4.125000     NaN       NaN  1.1825       NaN
2                NaN  2.746122  3.394000   0.000       NaN  1.4800  3.076667
3                NaN  2.364091  3.116667   4.230  0.030000  2.0000       NaN
4                1.3  3.956818  7.306667   5.950       NaN  3.6100       NaN
5                NaN  3.664000       NaN   3.085       NaN  1.9100       NaN
6                NaN  2.192857  7.630000     NaN       NaN     NaN       NaN
7                NaN  4.419375  6.236667     NaN       NaN  2.1300       NaN
8                NaN  3.405500  0.020000     NaN       NaN  0.6950       NaN
9                NaN  2.333243       NaN     NaN       NaN  0.9500       NaN
10               NaN  3.110000  4.100000   2.660       NaN  1.6150  4.580000
11               1.2  3.267636  2.875000   1.405       NaN  2.4200  2.280000
12               2.3  2.349107  1.340000   0.900       NaN     NaN  1.520000
13               NaN  2.935614  7.852000   6.680  6.736667     NaN  1.930000
14               2.9  3.435932  1.027500     NaN  4.100000     NaN  3.770000
15               8.8  2.614400  3.815000     NaN       NaN  3.6000  1.635000
16               3.4  2.215897  2.376250  14.810  0.900000     NaN  1.740000
17               NaN  2.694167  2.210000   3.825       NaN     NaN  3.886667
18               NaN  2.015600  3.167500     NaN  5.480000  7.7200  1.450000
19               NaN  2.720000       NaN     NaN       NaN     NaN       NaN